body{
  background-color: #4D688C;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}

h1{
  color: #F2D1B3;
  text-align: center;
  font-family: 'General Sans', sans-serif;
  /* dynamische Größe basierend auf der Fensterbreite */
  font-size: 15vw;
  margin-bottom: 5%;
  margin-top: 10%;
}

h3{
  color: #F2D1B3;
  font-family: 'General Sans', sans-serif;
}

h5{
  color: #F2D1B3;
  text-align: center;
  font-family: 'General Sans', sans-serif;
  font-size: 2vw;
  margin-bottom: 10%;
}

body{
  background-color: #4D688C;
  text-align: justify;
  margin-left: 20%;
  margin-right: 20%;
}

h1{
  color: #F2D1B3;
  text-align: center;
  font-family: 'General Sans', sans-serif;
  font-size: 5vw;
  margin-bottom: 1%;
}

h3{
  color: #F2D1B3;
  font-family: 'General Sans', sans-serif;
}

h5{
  color: #F2D1B3;
  text-align: center;
  font-family: 'General Sans', sans-serif;
  font-size: 2ch;
}

img{
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  max-height: 70vh;
}

p{
  color: #F2D1B3;
  font-family: 'General Sans', sans-serif;
}

.section{
  margin-bottom: 1em;
  display: flex; /* Flexbox verwenden */
  flex-direction: column; /* Standardmäßig Elemente in einer Spalte anordnen */
  align-items: center; /* Elemente zentrieren */
}

/* Bei Bildschirmen größer als 768px */
@media (min-width: 768px) {
  .section {
    flex-direction: row; /* Elemente in einer Reihe anordnen */
    justify-content: space-between; /* Platz zwischen den Elementen hinzufügen */
  }
}
