@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Ubuntu&display=swap');

body {
  margin-left: 20px;
  margin-right: 20px;
  background-image: linear-gradient(#ba98de, #74dada, #ba98de, #74dada, #ba98de, #74dada, #ba98de, #74dada, #ba98de, #74dada);
}

.imaaage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    filter: grayscale(100%) blur(5px);
    transition: filter 1s;
}

.title{
  font-size: 80px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;

  margin: 20px;
  transition: transform 0.5s;
}

h4 {
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.title:nth-child(1) {
  transform: translateX(-50px);
}

.title:nth-child(2) {
  transform: translateX(0px);
}

.title:nth-child(3) {
  transform: translateX(-30px);
}

.title:nth-child(4) {
  transform: translateX(10px);
}

.start {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
  margin-bottom: 200px;
}

.start:after {
  content: "";
  display: table;
  clear: both;
}

.start div {
  position: relative;
  width: 100%;
}

.start div:after {
  content: "";
  display: table;
  clear: both;
}

.start div div {
  float: left;
  width: 100%;
  padding: 5px;
}

.von {
  margin-top: 250px;
  margin-bottom: 200px;
}

.introduction {
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}

.buttonclass{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  text-decoration: none;
}

.scroll-button {
  display: block;
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.firstsection{
  margin-top: 100vh;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}

.section {
  margin-top: 10vh;
  background-color: white;
  border-radius: 25px;
  padding: 20px;
}

.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 20px;
  max-width: 90%;
  border-radius: 25px;
}

h1 {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: lighter;
}

h5 {
  text-align: right;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: lighter;
}

h3, p {
  margin: 10px 0;
}

p {
  text-align: left;
  font-family: sans-serif;
  font-size: 16px;
  letter-spacing: .3px;
  word-spacing: .5px;
  line-height: 20px;
}

@media screen and (min-width: 600px) {
  img {
    max-width: 60%;
  }
}

@media screen and (min-width: 768px) {
  img {
    max-width: 40%;
  }
}

@media screen and (min-width: 992px) {
  img {
    max-width: 20%;
  }
}




